<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">Pegazus ERP</h1>
    <div class="hero">

        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Experimente gerenciar sua empresa com simplicidade, onde quer que você vá!</h4>
            <div class="login-app-icons">
                <a href="@Url.Action("Contato")" class="btn btn-danger btn-sm">Contato</a>
                <a href="@Url.Action("SaibaMais")" class="btn btn-danger btn-sm">Saiba mais</a>
            </div>
        </div>

        <img src="~/Content/images/negocio3.jpg" class="pull-right display-image" alt="" style="margin-top:-395px;width:450px">

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Conhece gestão inteligente?</h5>
            <p>
                Planejar e gerenciar de forma intuitiva e inteligente. Tenha os dados mais relevantes sobre a gestão sempre a vista.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Pegazus Software</h5>
            <p>
                Soluções completas em software. Agora também oferece um poderoso sistema de gestão.
            </p>
        </div>
    </div>

</div>